@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&family=Square+Peg&display=swap');

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.envelope {
    position: relative;
    width: 400px;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    background-color: #ff8789;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cover {
    position: absolute;
    height: 0px;
    width: 0px;
}

.cover.top {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 150px solid transparent;
    border-top: 200px solid #ff8789;
    transform-origin: top;
    z-index: 3;
}

.cover.bottom.right {
    border-left: 200px solid transparent;
    border-right: 200px solid #ff393c;
    border-bottom: 150px solid #ff393c;
    border-top: 150px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 7;
}

.cover.left {
    border-left: 200px solid #ff5355;
    border-right: 200px solid transparent;
    border-bottom: 150px solid transparent;
    border-top: 150px solid transparent;
    border-bottom-left-radius: 10px;
    z-index: 7;
}

.letter {
    background: #dedede;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-family: 'Square Peg', cursive;
    z-index: 1;
}

.open {
    transform: rotateX(180deg);
    transition: transform 0.4s ease;
    z-index: 3;
}

.close {
    transform: rotateX(10deg);
    transition: transform 0.4s 0.4s ease;
    z-index: 5;
}

.in {
    transform: translateY(0px);
    transition: transform 0.4s ease;
    z-index: 1;
}

.out-partial {
    transform: translateY(-100px);
    transition: transform 0.4s 0.6s ease;
    z-index: 5;
}

@keyframes pullLetter {
    0% {
        transformt: translateY(-100px);
    }

    35% {
        transformt: translateY(-200px);
    }

    70% {
        transformt: translateY(-300px);
    }

    100% {
        transformt: translateY(-300px);
    }
}

@keyframes putLetter {
    0% {
        transformt: translateY(-300px) scale(1);
    }

    25% {
        transformt: translateY(-300px) scale (1.25);
    }

    50% {
        transformt: translateY(-200px) scale (1.5);
    }

    75% {
        transformt: translateY(-100px) scale (1.75);
    }

    100% {
        transformt: translateY(0px) sclae(2);
    }
}

.pull {
    animation-name: pullLetter;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.put {
    animation-name: putLetter;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.final {
    z-index: 1;
    transform: translateY(0px) scale(2);
}

#terug {
    position: fixed;
    bottom: 30px;
    right: 10px;
}

.terug-btn {
    background-color: orange;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border: solid 1px orange;
    border-radius: 4px;
}