html {
    background: url(../images/zonnepanelen.jpg) no-repeat center right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

*/
body h1 {
    color: rgb(233, 19, 42);
    font-size: 3.2rem;
    margin: 70px 0 20px 0;
}
@media screen and (max-width: 600px) {
    body h1 {
        font-size: 2.8rem;
    }
}

.intro,
.toelichtingchart,
.solar {
    background-color: white;
    max-width: 70%;
    text-align: left;
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px 10px;
    margin: 40px;
    line-height: 1.5rem;
}

.intro a:link {
    color: black;
    text-decoration: underline;
}

.intro a:visited {
    color: black;
    text-decoration: underline;
}

.intro a:hover {
    color: black;
    text-decoration: underline;
}

.solar {
    margin-bottom: 700px;
}

#chartContainer {
    width: 95%;
    height: 450px;
    margin-bottom: 50px;
}

.canvasjs-chart-container {
    top: 0;
    left: 0;
}

.canvasjs-chart-canvas {
    border: 10px solid white;
    border-radius: 6px;
}
