html {
  background: black no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-image: url(../images/donker.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* overflow: hidden; */
  justify-content: flex-start;
  color: white;
  height: 100vh;
  width: 100vw;
}

#titel {
  text-align: center;
}

#instructie {
  text-align: center;
  padding: 10px 10px;
}

/* lamp button */
#btn {
  font-size: 50px;
  border-radius: 50%;
  background-color: transparent;
}

#mannetje {
  position: absolute;
  bottom: -20px;
  left: 0;
  transform: scaleX(-1);
}


#mannetje img {
  max-height: 65vh;
  }
  
  @media screen and (max-width: 600px) {
    #mannetje {
      max-height: 50vh;
    }
  
    #btn {
      font-size: 30px;
    }
}