html {
    background: url(../images/blue-sky.jpg) no-repeat center right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

body h1 {
    color: white;
    font-size: 3.2rem;
    margin: 70px 0 20px 0;
}

.intro {
    background-color: white;
    width: 70vw;
    text-align: left;
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px 10px;
    margin: 40px;
    line-height: 1.5rem;
}

.intro a:link {
    color: black;
    text-decoration: underline;
}

.intro a:visited {
    color: black;
    text-decoration: underline;
}

.intro a:hover {
    color: black;
    text-decoration: underline;
}

.videocontainer {
    width: 70vw;
    padding: 10px 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
}

.uitlegvideo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    width: 70vw;
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px 10px;
    margin: 40px 40px 100px 40px;
}

.fotorow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.fototitel {
    text-align: center;
    line-height: 1.5rem;
}

.fotocolumn {
    -ms-flex: 40%;
    flex: 40%;
    max-width: 40%;
    padding: 0 4px;
}

.fotocolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* @media screen and (max-width: 800px) {
    .fotocolumn {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
} */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .fotocolumn {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}